.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
doc/features.html
config/database.yml
config/amazonrc.txt
config/facebooker.yml
config/newrelic.yml
config/config.yml
config/twitter_auth.yml
# compiled files
app/stylesheets/.sass-cache*
public/stylesheets/compiled/*
public/stylesheets/*packaged*
public/javascripts/*packaged*
vendor/gems
rerun.txt
mkmf.log
