@import "blueprint" ;;
@import "blueprint/scaffolding" ;;
@import "compass/reset" ;;
@import "compass/utilities" ;;
@import "blueprint/debug" ;;
/* line 12, ../../../app/stylesheets/application.sass */
#footer {
  text-align: center;
}

/* line 17, ../../../app/stylesheets/application.sass */
#header {
  height: 70px;
  position: relative;
}
/* line 20, ../../../app/stylesheets/application.sass */
#header #logo {
  font-size: 36px;
}
/* line 23, ../../../app/stylesheets/application.sass */
#header #logo a:hover {
  text-decoration: none;
}
/* line 25, ../../../app/stylesheets/application.sass */
#header #links {
  position: absolute;
  top: 1em;
  right: 0px;
}

/* line 38, ../../../app/stylesheets/application.sass */
.fieldWithErrors {
  padding: 2px;
  display: table;
}

/* line 42, ../../../app/stylesheets/application.sass */
table {
  margin-top: 15px;
}

/* line 46, ../../../app/stylesheets/application.sass */
tr.even td, tr.odd td {
  background: white;
}

/* line 49, ../../../app/stylesheets/application.sass */
tr.even td.thumbnail, td.thumbnail {
  width: 75px;
  background: white;
}

/* line 60, ../../../app/stylesheets/application.sass */
#img_holder {
  max-width: 480px;
  min-height: 130px;
  max-height: 230px;
}
/* line 64, ../../../app/stylesheets/application.sass */
#img_holder li {
  margin: 5px;
}

/* line 67, ../../../app/stylesheets/application.sass */
#recently_added {
  margin-top: 50px;
}

/* line 71, ../../../app/stylesheets/application.sass */
#flash {
  width: 400px;
  height: 200px;
  background: red;
}

/* line 76, ../../../app/stylesheets/application.sass */
#movies tbody tr td {
  background-color: blue;
}
