.firstpost
  .firstposttitle
    %h3 New movie
  .firstpostcontent
    - form_for(@movie) do |form|
      = render :partial => "form", :object => form
      %p
        = form.submit 'Create'

    = link_to 'Back', movies_path

:javascript
  $(function() {
    $('#movie_title').focus();
    $('#movie_title').change(searchTitle);
    $('#img_holder').click(imageClick);
  });
