%h2 
  =h @movie.title 

%p
  - if @movie.image && @movie.image_link
    = link_to(image_tag(@movie.image), @movie.image_link)

%p
  %b Format:
  =h @movie.format 


%p
  %b ASIN:
  =h @movie.asin 

= link_to 'Edit', edit_movie_path(@movie) |
= link_to 'Back', movies_path