%h2 New movie

- form_for(@users_movie, :html => {:name => 'users_movie_form'}) do |form|
  = render :partial => "form.html", :object => form
  %p
    = form.submit 'Create', :onclick => 'submitMovie(this.form);'

= link_to 'Back', movies_path