- @movie = @users_movie.movie

%h2 
  =h @movie.title 

%p
  = image_tag movie_image(@movie), :title => @movie.title

%p
  %b Format:
  =h @movie.format 

- if @movie.asin?
  %p
    %b ASIN:
    = (@movie.image_link?) ? link_to(@movie.asin, @movie.image_link) : @movie.asin

%p
  %b Rating: 
  %div{:id => "rating_#{@users_movie.id}" }
  = render :partial => 'movies/rating', :locals => {:users_movie => @users_movie}