.firstpost
  .firstposttitle
    %h3= @title = 'Sign Up'
  .firstpostcontent
    = form_for @user do |form|
      = render :partial => '/users/form', :object => form
      = form.submit I18n.t("layouts.application.sign_up"), :disable_with => 'Please wait...'
    %br
