.firstpost
  .firstposttitle
    %h3= @title = 'Sign up'
  .firstpostcontent
    = form_for @user do |form|
      = render :partial => '/users/form', :object => form
      = form.submit 'Sign up', :disable_with => 'Please wait...'
    %br
