- flash.keys.each do |key|
  #flash.row
    - msg = html_escape(flash[key])
    - if key == 'notice'
      .alert.alert-primary
        = msg
    - if %w(alert error failure).include? key
      .alert.alert-danger
        = msg
    - if key == 'success'
      .alert.alert-success
        = msg
