- if flash[:notice] || flash[:error] || flash[:failure] || flash[:success] || flash[:alert]
  #flash
    - if flash[:notice]
      .notice
        = html_escape(flash[:notice])
    - if flash[:error] || flash[:failure] || flash[:alert]
      .error
        = html_escape(flash[:error] || flash[:failure] || flash[:alert])
    - if flash[:success]
      .success
        = html_escape(flash[:success])
  .clear
