---
development: &defaults
  adapter:  sqlite3
  database: schema/development.db

test:
  <<:       *defaults
  database: schema/test.db

production:
  <<:       *defaults
  database: schema/production.db

rake:
  <<: *defaults
