#footer
  %ul
    %li.subscribe= link_to 'Source Code', 'http://github.com/invalidusrname/movie-collector'
    - if signed_in?
      %li.login= link_to "Log out", logout_path
    - else
    %li.login= link_to "Log in", login_path
    %li.top= link_to 'Top', '#header'
