/ ========== footer start ===========
%footer.footer
  .container-fluid
    .row
      .col-md-6
        .terms.d-flex.justify-content-center.justify-content-md-end
          = link_to "Source Code", 'http://github.com/invalidusrname/movie-collector', class: 'text-sm'
          - if signed_in?
            = link_to I18n.t("layouts.application.sign_out"), logout_path, class: 'text-sm ml-15'
          - else
            = link_to I18n.t("layouts.application.sign_in"), login_path, class: 'text-sm ml-15'
/ ========== footer end ===========
