/ ========== header start ==========
%header.header
  .container-fluid
    .row
      .col-lg-7.col-md-7.col-6
        .header-right
        .headerlink= link_to "", root_path
/ ========== header end ==========

