#topnav
  %ul.sf-menu
    %li.cat-item.cat-item-1
      = link_to "Library", movies_path, :alt => "Movie Library"
    %li.cat-item.cat-item-16
      = link_to "My Movies", users_movies_path, :alt => "My Movies"
    %li.cat-item.cat-item-16
      = link_to "Add Movie", new_users_movie_path, :alt => "Add a Movie"
    %li.cat-item.cat-item-22
      = link_to "Box Office", box_office_path, :alt => "Top Box Office Movies"
