#topnav
  %ul.sf-menu
    %li.cat-item.cat-item-1
      = link_to "Library", movies_path
    %li.cat-item.cat-item-16
      = link_to "My Movies", users_movies_path
    %li.cat-item.cat-item-16
      = link_to "Add Movie", new_users_movie_path
    %li.cat-item.cat-item-22
      = link_to "Box Office", box_office_path
    %li#searchform
      %form{ :method => "get", :action => "http://phiyaz.turkhitbox.com" }
        %input#s.searchword{ :name => "s", :size => "20", :type => "text", :value => "" }
        %input{ :name => "searchsubmit", :title => "Search", :type => "hidden" }
